<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Check Out</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/check_out.css}">
	<style>
	    .form-control.invalid{
	        border: 2px solid rgb(202, 52, 52);
	    }
	    .invalid-text{
	        color: rgb(202, 52, 52);
	    }
	</style>
</head>
<body>
	<header th:include="~{header_shop.html}"></header>
	<div class="main-content container">
		<!--Section: Block Content-->
		<section class="mt-5 mb-4">
			<!--Grid row-->
			<div class="row">
				<form id="form__inf" class="justify-content-between" onsubmit="event.preventDefault(); book()">
					<!--Grid column-->
					<div class="col-lg-7 mb-4">
						<!-- Card -->
						<div class="card wish-list pb-1">
							<div class="card-body">
								<h5 class="mb-2">Thông tin khách hàng</h5>
								<!-- Name -->
								<div>
									<div class="md-form md-outline">
										<label for="name"> 
											Tên<span style="color: red;">*</span>
										</label> 
										<input th:if="${session.customer.name}" type="text" id="name" name="name" class="required form-control" th:value="${session.customer.name}"> 
										<input th:unless="${session.customer.name}" type="text" id="name" name="name" class="required form-control"> 
										<span class="form-message"></span>
									</div>
								</div>

								<!-- Address -->
								<div class="md-form md-outline mt-2">
									<label for="address">
										Address<span style="color: red;">*</span>
									</label> 
									<input th:if="${session.customer.address}" type="text" id="address" name="address" class="required form-control" th:value="${session.customer.address}">
									<input th:unless="${session.customer.address}" type="text" id="address" name="address" placeholder="Số nhà và tên đường" class="required form-control">
									<span class="form-message"></span>
								</div>
								<!-- Phone -->
								<div class="md-form md-outline mt-2">
									<label for="phone">
										Phone<span style="color: red;">*</span>
									</label> 
									<input th:if="${session.customer.phone}" type="tel" id="phone" name="phone" class="required form-control" th:value="${session.customer.phone}">
									<input th:unless="${session.customer.phone}" type="tel" id="phone" name="phone" placeholder="0811111111" class="required form-control">
									<span class="form-message"></span>
								</div>
								<!-- Email address -->
								<div class="md-form md-outline mt-2">
									<label for="email">
										Email<span style="color: red;">*</span>
									</label> 
									<input th:if="${session.customer.email}" type="email" id="email" name="email" class="required form-control" th:value="${session.customer.email}">
									<input th:unless="${session.customer.email}" type="email" id="email" name="email" placeholder="kieupt@gmail.com" class="required form-control">
									<span class="form-message"></span>
								</div>
								<!-- Additional information -->
								<div class="md-form md-outline mt-2">
									<label for="note">Ghi chú</label>
									<textarea id="note" name="note" class="md-textarea form-control" rows="4"></textarea>
								</div>
							</div>
						</div>
						<!-- Card -->
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-lg-4">
						<!-- Card -->
						<div class="card mb-4">
							<div class="card-body">
								<h5 class="mb-3">Tổng tiền</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
										Tổng tiền sản phẩm <span>$<span th:text="${total}"></span></span>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center px-0">
										Thuế VAT <span>8%</span>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
										<div>
											<strong>Số tiền phải trả</strong> <strong>
												<p class="mb-0">(Đã bao gồm VAT)</p>
											</strong>
										</div> 
										<span>
											<strong>
												$<span th:text="${totalVAT}"></span>
											</strong>
										</span>
									</li>
								</ul>
								<div class="row">
									<button class="btn btn-primary btn-block waves-effect waves-light btn--primary" onclick="return confirmBook()">XÁC NHẬN</button>
								</div>
							</div>
						</div>
						<!-- Card -->
					</div>
					<!--Grid column-->
				</form>
			</div>
			<!--Grid row-->
		</section>
		<!--Section: Block Content-->
	</div>
	<footer th:include="~{footer_shop.html}"></footer>

	<script th:src="@{/script/check_out.js}"></script>
	<script th:src="@{/script/validator.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		Validator({
			form: '#form__inf',
			errorSelector: '.form-message',
			rules:[
				Validator.isRequired('#name',"Vui lòng điền tên khách hàng!"),
				Validator.isRequired('#address',"Vui lòng điền địa chỉ nhận hàng!"),
				Validator.isRequired('#phone',"Vui lòng điền số điện thoại khách hàng!"),
				Validator.isPhone('#phone',"Số điện thoại không đúng định dạng!"),
				Validator.isRequired('#email',"Vui lòng bổ sung email!"),
				Validator.isEmail('#email',"Email không đúng định dạng!"),
			],
			onSubmit: function (data){
			 
			}
		})
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>