<style>
	.custom-carousel-inner {
		height: 500px;
		/* Đặt chiều cao cố định tại đây */
	}

	.custom-carousel-inner .carousel-item {
		height: 100%;
	}

	.custom-carousel-inner .carousel-item .active {
	}

	.custom-carousel-inner .carousel-item img {
		object-fit: contain;
		height: 100%;
		width: 100%;
	}
</style>

		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner custom-carousel-inner">
				<div class="carousel-item mr-0 active">
					<img th:src="@{/img/slider-conan.jpg}" alt="Image Conan" class="d-block w-100">
				</div>
				<div class="carousel-item mr-0">
					<img th:src="@{/img/slider-one-piece.jpg}" alt="Image One Piece" class="d-block w-100">
				</div>
				<div class="carousel-item mr-0">
					<img th:src="@{/img/slider-dac-nhan-tam.jpg}" alt="Image đắc nhân tâm" class="d-block w-100">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

